@model OSUTicketExchange.Web.Models.Seat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Seat</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeatNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeatRow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatRow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Section)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Section)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
